@import url('https://fonts.googleapis.com/css2?family=Alata&family=Amiko:wght@400;600;700&display=swap');

:root {
  --white: #FDFDFD;
  --black: #000000;
  --ligth-violet: rgba(72, 72, 132, 0.5);
  --strong-violet: #8989C7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--main-background);
  font-family: 'Alata', sans-serif;

}

.acount_not_needed_text {
  color: var(--strong-violet);
  text-decoration: none;
}

.submit_button {
  background-color: var(--strong-violet) !important;
  border: 1px solid var(--strong-violet) !important;
}

.top_circle {
  height: 290px;
  width: 290px;
  background-image: url(./assets/images/Circle-bg.svg);
  margin-left: 1440px;
  margin-top: -100px;
  margin-bottom: -150px;
}

.bottom_circle {
  height: 290px;
  width: 290px;
  background-image: url(./assets/images/Circle-bg.svg);
  margin-left: 200px;
  margin-top: -200px;
  /* position: absolute;
  bottom: 80px;
  left: 200px; */
}

.login_text_container {
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width:1440px) {
  .top_circle {

    margin-left: 1050px;
    margin-top: -100px;
    margin-bottom: -150px;
  }

  .bottom_circle {

    margin-left: 100px;
    margin-top: -200px;

  }
}

@media (max-width:1024px) {
  .top_circle {

    margin-left: 750px;
    margin-top: -100px;
    margin-bottom: -150px;
  }

  .bottom_circle {

    margin-left: 20px;
    margin-top: -200px;

  }
}

@media (max-width:768px) {
  .top_circle {

    margin-left: 550px;
    margin-top: -100px;
    margin-bottom: -150px;
  }

  .bottom_circle {
    height: 290px;
    width: 290px;
    margin-left: -40px;
    margin-top: -200px;

  }
}